<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src = "/scripts/bootstrap.min.js"></script>
    <script src = "/scripts/jquery.min.js"></script>
    <script src = "/scripts/popper.min.js"></script>
    <script src = "/scripts/sweetalert2.min.js"></script>
</head>